{# Used to render bulk action buttons with icon #}
{# set a variable in twig


#}


<button
    id="{{ '%s_grid_bulk_action_%s'|format(grid.id, action.id) }}"
    class="dropdown-item"
    type="button"
    onclick="document.dispatchEvent(
      new CustomEvent('{{ action.options.event }}', {
          detail: {
            action: '{{ action.id }}',
            orderIds: {{ grid.data.records|json_encode|raw }}
          }
        }))">
    <i class="material-icons">{{ action.options.icon }}</i>
    {{ action.name }}
</button>

<script>
    document.getElementById('{{ '%s_grid_bulk_action_%s'|format(grid.id, action.id) }}').addEventListener('click', function (event) {
        document.dispatchEvent(
            new CustomEvent('{{ action.options.event }}', {
                detail: {
                    action: '{{ action.id }}',
                    orderIds: {{ grid.data.records|json_encode|raw }}
                }
            })
        );
    });
</script>
