{% set id = 'div-' ~ random() %}
<div id="{{ id }}"></div>

<script id="{{ id }}-script">
(() => {
  var context = JSON.parse(`{{ context | json_encode | raw }}`);
  window.MyParcelContext = window.MyParcelContext || {};

  for (var i in context) {
    window.MyParcelContext[i] = context[i];
  }

  window.MyParcel['{{ method }}']('#{{ id }}');
  document.getElementById('{{ id }}-script').remove()
})();
</script>
